<!-- 機能表示 -->
<section class="bg-body-tertiary" id="home">
  <div class="container text-center pb-3">
    <div class="row pt-3 mt-2 mb-3">
      <div class="col">
        <h1>今後ほかの機能も追加予定です</h1>
      </div>
    </div>

    <div class="row g-4">
      <!-- D&D第5版PL -->
      <div class="col-md-4">
        <div class="border p-3 shadow">
          <i class="bi bi-dice-1 text-info fs-1"></i>
          <h5>D&D第5版PL試験</h5>
          <p class="text-body-secondary">D&Dのプレイヤーとしての知識を試す試験です。</p>
          <a></a>
        </div>
      </div>

      <!-- 未定 -->
      <div class="col-md-4">
        <div class="border p-3 shadow">
          <i class="bi bi-dice-2 text-info fs-1"></i>
          <h5>過去問の確認</h5>
          <p class="text-body-secondary">過去の試験結果を確認できる予定です。</p>
          <a></a>
        </div>
      </div>
    </div>
  </div>
</section>
